.tbl {
    background-color: #fff;
}

.tbl__row {
    border-bottom: 1px solid $bv-grey-color;
}

.tbl--head {
    font-size: 16px;
    border-bottom: 2px solid $bv-black-color;
    padding: 10px 0;
}

.tbl--body {
    font-size: 14px;

    .tbl__item {
        padding: 10px 0;
        &:not(:last-of-type) {
            border-right: 1px solid $bv-grey-color;
        }
    }
}

.tbl-wrap {
    margin-top: 40px;

    @media only screen and (max-width: 1199px) {
        overflow: auto;

        .tbl {
            width: 1200px;
        }
    }
}

.tbl__items {
    display: flex;
}

.tbl__item {
    max-width: 383px;
    flex: 1;
    min-width: 200px;
    padding: 0 8px;
    text-align: center;
}

// @media only screen and (max-width: 991px) {
//     .tbl-wrap {
//         overflow: auto;
//         box-shadow: 0 17px 43px rgba(42,69,110,0.6);
//     }

//     .tbl {
//         min-width: 800px;
//         box-shadow: none;
//     }
// }