input::-moz-placeholder,
textarea::-moz-placeholder {
	font-family: "Open Sans", $bv-helvetica;
	font-weight: 600;
	opacity: 1;
	color: rgba(155, 155, 155, 0.5);
	font-size: 18px;

	@media only screen and (max-width: 767px) {
		font-size: 14px;
	}
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	font-family: "Open Sans", $bv-helvetica;
	font-weight: 600;
	opacity: 1;
	color: rgba(155, 155, 155, 0.5);
	font-size: 18px;

	@media only screen and (max-width: 767px) {
		font-size: 14px;
	}
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font-family: "Open Sans", $bv-helvetica;
	font-weight: 600;
	opacity: 1;
	color: rgba(155, 155, 155, 0.5);
	font-size: 18px;

	@media only screen and (max-width: 767px) {
		font-size: 14px;
	}
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	font-family: "Open Sans", $bv-helvetica;
	font-weight: 600;
	opacity: 1;
	color: rgba(155, 155, 155, 0.5);
	font-size: 18px;

	@media only screen and (max-width: 767px) {
		font-size: 14px;
	}
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: transparent;
	outline: none
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
	outline: none
}

input:focus:-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
	outline: none
}

input:focus:-ms-input-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
	outline: none
}

* {
	line-height: normal;
	box-sizing: border-box;
	letter-spacing: 0.1em;

	:invalid {
		box-shadow: none
	}

	:-moz-submit-invalid {
		box-shadow: none
	}

	:-moz-ui-invalid {
		box-shadow: none
	}

	:focus {
		outline: none;
	}
}

.highlights {
	color: transparent
}

input,
textarea {
	outline: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
	-webkit-border-radius: 0;
	font-size: 18px;
	font-family: "Open Sans", $bv-helvetica;
	font-weight: 400;
	color: $bv-black-color;

	@media only screen and (max-width: 767px) {
		font-size: 14px;
	}
}

input:not([type='submit']) {
	width: 100%;
}

input::-ms-clear {
	display: none;
}

textarea {
	width: 100%;
	height: 250px;
	overflow: auto;
	resize: none;

	@media only screen and (max-width: 767px) {
		height: 120px;
	}
}

input[type="radio"],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: radio;
	-webkit-appearance: none;
	margin: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-webkit-appearance: none;
	margin: 0;
}

input[type="submit"]::-moz-focus-inner {
	border: 0;
	outline: 0;
}

[contenteditable="true"]::-moz-focus-inner {
	border: 0;
	outline: 0;
}

input[type=text],
input[type=submit],
input[type=tel],
input[type=email],
input[type=password] {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}

input[type=number] {
	-webkit-appearance: none;
	-moz-appearance:textfield;
	outline: 0 !important;
	box-shadow: 0 !important;
	border-radius: 0!important;
}

a:active,
a:focus,
a:hover {
	border: none;
	outline: none;
}

a {
	display: inline-block;
	color: $bv-purple-color;
	cursor: pointer;
	text-decoration: none;
}

strong,
b {
	font-weight: 600;
}

ul,
ol {
	padding-left: 0;
}

button,
button:active,
button:focus,
button:hover,
input[type=submit] {
	outline: none;
	border: none;
	cursor: pointer;
}

html {
	overflow-y: visible!important;
}

html,
body {
	height: 100%;
	width: 100%;
}

header,
footer {
	flex: 0 0 auto;
}

main {
	flex: 1 0 auto;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

select::-ms-expand {
	display: none;
}

body {
	font-family: "Open Sans", $bv-helvetica;
	font-size: 18px;
	font-weight: 400;
	min-width: 320px;
	line-height: 1.42em;
	margin: 0;
	color: $bv-black-color;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

	@media only screen and(max-width: 767px) {
		font-size: 16px;
	}
}

.hide--scroll {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: visible;
}

img {
	display: block;
	max-width: 100%
}

h1,
h2 {
	font-family: "Play Fair Display", $bv-helvetica;
	font-weight: 700;
}

h3,
h4,
h5,
h6  {
	font-family: "Open Sans", $bv-helvetica;
	font-weight: 600;
}

h1 {
	font-size: 72px;

	@media only screen and(max-width: 1470px) {
		font-size: 64px;
	}

	@media only screen and(max-width: 767px) {
		font-size: 30px;
		line-height: 1.1;
    }
}

.title--h1 {
	@extend h1;
}

h2 {
	font-size: 48px;

	@media only screen and(max-width: 767px) {
		font-size: 24px;
    }
}

h3 {
	font-size: 24px;

	@media only screen and(max-width: 767px) {
		font-size: 18px;
    }
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

.object-fit {
	width: 100%;
	height: 100%;

	&.is--cover {
		object-fit: cover;
	}

	&.is--contain {
		object-fit: contain;
	}
}

[data-object-position='top'] {
	object-position: top;
}

.full--content {
	font-size: 18px;
	color: $bv-black-color;
	display: flex;
	flex-direction: column;

	img[align='right'] {
		float: right;
		margin-left: 20px;
	}

	img[align='left'] {
		float: left;
		margin-right: 20px;
	}

	img[align='middle'] {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	@media only screen and (max-width: 767px) {
		img,
		img[align='middle'],
		img[align='left'],
		img[align='right'] {
			float: none;
			margin-left: auto;
			margin-right: auto;
			width: auto;
			max-width: 100%;
		}
	}

	&>*:not(:last-child) {
		margin-bottom: 20px;
	}

	span {
		text-transform: uppercase;
	}

	ul {
		display: flex;
		flex-direction: column;
		margin-left: 15px;
		li {
			display: inline-block;
			position: relative;
		}

		li:before {
			content: '';
			top: -4px;
			width: 4px;
			height: 4px;
			background-color: #000;
			border-radius: 50%;
			position: relative;
			margin-right: 8px;
			display: inline-block;
		}
	}

	ol {
		margin-left: 15px;
		counter-reset: item;
		display: flex;
		flex-direction: column;

		li {
			display: inline-block;
			position: relative;
		}

		li:before {
			content: counter(item) '. ';
			counter-increment: item;
			margin-right: 6px;
			display: inline-block;
		}
	}

	@media only screen and(max-width: 767px) {
		font-size: 16px;
	}
}

.full-content {
	@extend .full--content;
}