@font-face {
    font-family: "Open Sans";
    font-display: fallback;
    src: url("../fonts/OpenSans-Semibold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    font-display: fallback;
    src: url("../fonts/open-sans-regular.woff2") format('woff2'),
        url("../fonts/open-sans-regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Play Fair Display";
    font-display: fallback;
    src: url("../fonts/PlayfairDisplayBold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
}