/**fonts**/
$bv-helvetica: "Helvetica Neue", "Helvetica", "Arial", sans-serif;

/**colors**/
$bv-purple-color: #444158;
$bv-black-color: #2F2F2F;
$bv-darkgrey-color:#EFEFEF;
$bv-grey-color: #A1A0AB;
$bv-lightgrey-color:#9B9B9B;
