.profile-popin {
    position: absolute;
    top: 34px;
    right: -14px;
    width: 260px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(155, 155, 155, 0.25);
    opacity: 0;
    visibility: hidden;
    transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);

    &.is--active {
        opacity: 1;
        visibility: visible;
    }
}

.profile-popin__img {
    width: 50px;
    height: 50px;
    flex: 0 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.profile-popin__row {
    display: flex;
    align-items: center;
    padding: 20px 20px 10px;
    border-bottom: 1px solid $bv-darkgrey-color;
}

.profile-popin__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-left: 10px;
}

.profile-popin__links {
    padding: 20px 0;
}

.profile-popin__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding: 0 20px;
    display: flex;

    &:not(:last-of-type) {
        margin-bottom: 15px;
    }
}

.profile-popin__icon {
    align-self: center;
    flex: 0 0 auto;
    margin-left: 15px;
}