.counter {
    display: flex;
    background-color: #fff;
    padding: 10px;
    margin-left: -10px;
    position: relative;

    input {
        width: 58px;
        height: 30px;
        padding: 2px 4px;
        border: 1px solid $bv-darkgrey-color;
        text-align: center;
        flex: 0 0 auto;

        @media only screen and (max-width: 767px) {
            width: 45px;
            height: 20px;
        }
    }

    &__text {
        font-weight: 600;
    }
}

.counter--secondary {
    padding: 0;
    margin-left: 0;

    .counter__nav {
        @media only screen and (max-width: 767px) {
            width: 20px;
            height: 30px;
        }
    }

    input {
        @media only screen and (max-width: 767px) {
            width: 58px;
            height: 30px;
            font-size: 18px;
        }
    }
}

.counter__nav {
    flex: 0 0 auto;
    display: inline-block;
    width: 20px;
    height: 30px;
    border: 1px solid $bv-darkgrey-color;
    cursor: pointer;
    margin: 0 -1px;
    text-align: center;

    @media only screen and (max-width: 767px) {
        width: 14px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}