.pop-ups {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(68, 65, 88, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    overflow-y: auto;
    overflow-x: hidden;

    &.is--fade {
        visibility: visible;
        opacity: 1;
    }
}

.pop__up {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    visibility: hidden;

    .cart-tbl {
        transform: translateX(100%);
        transition: all .3s ease;
    }

    &.is--show {
        visibility: visible;
        .cart-tbl {
            transform: translateX(0);
        }
    }

    &.is--show--secondary {
        transition: all .4s ease;
        opacity: 0;
        visibility: hidden;
    }

    &.is--show--fade {
        visibility: visible;
        opacity: 1;
    }
}

.pop__up-row {
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 40px 15px;
    display: block;
    height: auto;
}

.layout-alert.pop__up-row {
    text-align: center;

    .layout-alert__title {
        text-transform: uppercase;
    }

    .layout-alert__subtitle {
        font-size: 18px;
        line-height: 24px;
    }
}

.pop__up-blank {
    max-width: 100%;
    padding: 65px 75px 50px;
    width: 100%;
    background-color: #fff;
    position: relative;

    @media only screen and (max-width: 767px) {
        padding: 65px 15px 50px;
    }

    .btn {
        max-width: 300px;
        width: 100%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.pop__up-title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.pop__up-subtitle {
    text-align: center;
    margin-bottom: 15px;
}

[data-get-popup] {
    cursor: pointer;
}