.page-template-checkout {
  .form-steps {
    max-width: 100%;
  }

  .aside-toggle {
    @media only screen and (max-width: 767px) {
      display: flex;
    }
  }

  .form--secondary .form__item-label {
    max-width: 160px;
  }

  .form__step--secondary {
    padding-right: 180px;

    .form__btns {
      padding-right: 0;
    }
  }

  .form__step--secondary .form--secondary .form__item-label {
    max-width: 100%;
  }

  .form__item-link {
    padding-right: 114px;
  }

  .layout .container {
    width: 1170px;

    @media only screen and (max-width: 1199px) {
      width: 950px;
    }

    @media only screen and (max-width: 991px) {
      width: 750px;
    }

    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .container.breadcrumbs-wrap {
    padding: 0;
  }

  .form__btns {
    padding-right: 142px;
  }
}

.auth-social {
  text-align: center;
  margin: 0 -30px;
  display: none;
}

.auth-social__text {
  font-size: 14px;
  line-height: 19px;
  margin-top: 10px;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}

.auth-social__links {
  padding-bottom: 40px;
}

.auth-social__link {
  max-width: 423px;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(155, 155, 155, 0.5);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding: 17px 50px;
  margin-top: 20px;

  &.is--fb {
    color: #fff;
    background: url("../img/icons/fb-icon.svg")no-repeat 30px center/13px;
    background-color: #3B5998;
  }

  &.is--google {
    color: #2F2F2F;
    background: url("../img/icons/google-icon.svg")no-repeat 30px center/24px;
    background-color: #fff;
  }
}

.auth-social__divider {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;

  &:before,
  &:after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: rgba(155, 155, 155, 0.5);
    min-width: 20px;
    flex: 1;
  }

  p {
    padding: 0 50px;
    flex: none;
  }


}

.aside-toggle {
  background: #EFEFEF;
  display: flex;
  align-items: center;
  padding: 12px 25px;
  cursor: pointer;
  display: none;
}

.aside-toggle__cost {
  margin-left: auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding-left: 10px;
}

.aside-toggle__text {
  display: flex;
  align-items: center;

  .arrow-icon {
    width: 10px;
    height: 10px;
    display: block;
    transform: rotate(-90deg);
    flex: 0 0 auto;
    margin-left: 10px;
  }
}

#aside-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
}


@media only screen and (max-width: 1199px) {
  .page-template-checkout .form__btns {
    padding-right: 204px;
  }

  .page-template-checkout .form-steps {
    order: 2;
  }

  .page-template-checkout .layout__column {
    display: flex;
    flex-direction: column;
  }

  .page-template-checkout {

    .aside__title {
      text-align: left;
    }

    .aside {
      margin-left: 0;
      padding-top: 20px;
      margin-bottom: 40px;
    }

    .aside__row {
      width: 100%;
    }

    .form__item-link {
      padding-right: 176px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .page-template-checkout .form__btns {
    padding-right: 104px;
    padding-top: 0;
  }

  .form__item-link {
    padding-right: 76px;
  }
}

@media only screen and (max-width: 767px) {
  .auth-social__text {
    padding: 0 30px;
  }

  .page-template-checkout {

    .form__item-link {
      padding: 0 10px;
      max-width: 370px;
      margin: auto;
    }

    .aside__title {
      display: none;
    }

    .form__btn .btn {
      max-width: 270px;
      width: 100%;
      font-size: 14px;
    }

    .form__btns {
      display: block;
      text-align: center;
      padding-right: 0;
      padding-bottom: 0;
    }

    .form__step-title {
      text-align: center;
      margin-bottom: 20px;
    }

    .form__step-items {
      flex-direction: column;
      align-items: center;
    }

    .form__step-item {
      max-width: 280px;
      width: 100%;
      text-align: center;

      .form__step-link {
        width: 100%;
      }
    }

    .form__step-contains {
      padding-left: 0;
      padding-right: 0;
    }

    .auth-social__links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .form--secondary .form__items {
      display: block;
      max-width: 370px;
      margin-left: auto;
      margin-right: auto;
    }

    .form--secondary .form__item-label {
      max-width: 100%;
      text-align: left;
      font-size: 11px;
      line-height: 15px;
      padding: 0 10px;
    }

    .wrapper .checkbox {
      margin-bottom: 10px;
    }

    .form--secondary .form__items input:not([type="submit"]) {
      padding: 6px 20px;
      font-size: 14px;
    }


    .is--close .aside-toggle__text .arrow-icon {
      transform: rotate(90deg);
    }

    .is--close+.aside__item {
      display: none;
      box-shadow: none;
    }

    .aside {
      padding-top: 0;
    }

    // .cart-tbl__row:not(:first-of-type) {
    //   padding: 4px 0;
    // }

    .aside__row {
      max-width: 100%;
    }

    .cart-tbl {
      max-width: 100%;
      padding: 0 15px 30px;

    }

    .aside__item {
      margin-left: -15px;
      margin-right: -15px;
      box-shadow: 0px 4px 10px rgba(155, 155, 155, 0.25);
    }

    .aside-toggle {
      margin-left: -15px;
      margin-right: -15px;
    }

    .btn {
      font-weight: 600;
      font-size: 20px;
    }

    .layout__sect {
      padding-top: 40px;
    }

    .cart-tbl__body {
      display: flex;
      flex-direction: column;
    }
  }

  .auth-social__divider {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .auth-social__divider p {
    padding: 0 15px;
  }

  .auth-social__link {
    max-width: 270px;
    font-size: 14px;
    padding: 15px 32px;
    background-position: 15px center!important;
  }
}


.page-template-account {
  .container.breadcrumbs-wrap {
    padding: 0;
  }
}

.auth-social--secondary {
  margin: 0;
  .auth-social__link {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.edit--account {
  .form__item-label {
    max-width: 300px;
  }
  
  .form__items {
    align-items: center;

    @media only screen and (max-width: 767px) {
      display: block;
    }
  }
}

.page-template-default .container.breadcrumbs-wrap {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (max-width: 991px) {
  .page-template-default .container.breadcrumbs-wrap + .layout__sect {
    padding-top: 0;
  }
}


.page-template-cart {
  @media only screen and (max-width: 991px) {
    .aside__row {
      margin-left: auto;
      margin-right: auto;
    }
  }
}


@media only screen and (max-width: 1199px) {
  .woocommerce-form-coupon {
    margin-left: auto;
    margin-right: auto;
  }
}


.coupon-wrap {
  display: block;
  align-items: center;
  margin: 0;
}

.coupon-wrap  .woocommerce-error {
  margin-bottom: 0;
}

@media only screen and (max-width: 1199px) { 
  .coupon-wrap {display: flex;}
}

@media only screen and (max-width: 767px) {

  .form__step-contains .woocommerce-error {
    text-align: center;
  }

  .coupon-wrap {
    display: block;
    text-align: center;
  }

  .coupon-wrap .woocommerce-error {
    margin-bottom: 0;
    font-size: 11px;
    line-height: 1.2;
  }
  
  .pop__up .cart-tbl__text .remove-icon-wrap {
    display: block;
    height: 17px;
  }

  
}


#checout-registration .form__step-contains .form__items {
  align-items: flex-start;
}

#chekout-form .form__step-contains .form__items {
  align-items: flex-start;
}

#checout-registration .form__step-contains .form__items .form__item-label,
#chekout-form .form__step-contains .form__items .form__item-label {
  padding-top: 26px;

  @media only screen and (max-width: 767px) {
    padding-top: 0;
  }
}