.logo {
    width: 300px;
    display: block;
    flex: 0 0 auto;

    @media only screen and(max-width: 1199px) {
        width: 200px;
    }

    @media only screen and(max-width: 767px) {
        width: 142px;
    }
}