@keyframes bouncing {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(-40px);
    }
}

@keyframes animationOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}