.aside {
    flex: 0 0 auto;
    margin-left: auto;
    padding-left: 40px;

    @media only screen and (max-width: 1199px) {
        padding-left: 0;
        padding-top: 40px;
    }

    @media only screen and (max-width: 767px) {
        padding-top: 30px;
    }

}

.aside__row {
    width: 300px;

    @media only screen and (max-width: 767px) {
        max-width: 320px;
        width: 100%;
    }

}

.aside__title {
    text-transform: uppercase;
    text-align: center;
}

.aside__item-btn {
    margin-top: 22px;
}

.aside__item-btn .btn {
    width: 100%;
}