.upload {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

    input {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        left: 0;
        top: 0;
    }

    &__img {
        margin: 0;
        margin-right: 15px;
    }

    &__text {
        font-size: 14px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #000;
        cursor: pointer;

        &:hover {
            text-decoration-line: none;
        }
    }
}