.code {
    padding: 10px 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.code__field {
    padding: 8px 10px;
    outline: 0;
    border: 2px solid $bv-darkgrey-color;
    font-size: 14px;
    flex: 1;
    min-width: 100px;

    &::-moz-placeholder {
        font-size: 14px;
        text-transform: none;
        font-weight: 400;
    }

    &:-moz-placeholder {
        font-size: 14px;
        text-transform: none;
        font-weight: 400;
    }

    &::-webkit-input-placeholder {
        font-size: 14px;
        text-transform: none;
        font-weight: 400;
    }

    &:-ms-input-placeholder {
        font-size: 14px;
        text-transform: none;
        font-weight: 400;
    }
}

.code__submit {
    font-size: 14px;
    text-transform: none;
    font-weight: 400;
    background-color: $bv-purple-color;
    color: #fff;
    padding: 10px;
    min-width: 140px;
    text-align: center;
    margin-left: -2px;
    flex: 0 0 auto;
}