.category-blanks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -30px -15px 0;
}

.category__blank {
    display: block;
    max-width: 380px;
    width: 100%;
    padding: 30px 15px;

    @media only screen and (max-width: 767px) {
        padding: 30px 15px 0;
    }

    &.in--developing {
        cursor: default;

        .category__blank-img {
            position: relative;
            z-index: 1;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                background-color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}

.category__blank-msg {
    text-align: center;
    text-transform: uppercase;
    color: $bv-lightgrey-color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 1;
}

.category__blank-img {
    width: 100%;
    height: 366px;
    padding: 20px 0;

    @media only screen and (max-width: 767px) {
        height: 220px;
        padding: 20px 0 0;
    }
}

.cacategory__blank-title {
    text-align: center;
    text-transform: uppercase;

    @media only screen and (max-width: 767px) {
        margin-top: 6px;
    }
}