.category {
    margin-bottom: 16px;
}

.category__info {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @media only screen and (max-width: 767px) {
        display: block;
     }
}

.category__info-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    margin-right: 40px;
    max-width: 280px;
    position: relative;
    top: -3px;

    @media only screen and (max-width: 767px) {
       font-size: 18px;
       line-height: 24px;
       margin-right: 0;
       margin-bottom: 10px;
    }
}

.category__info-descr {
    @media only screen and (max-width: 767px) {
        font-size: 13px;
        line-height: 18px;
     }
}


.category__info-text {
    > * {
        width: auto;
        display: inline;
    }
}

.category__info-title {
    width: 180px;
    padding-right: 8px;

    @media only screen and (max-width: 767px) {
        width: auto;
        padding-right: 0;
    }
}

.category__list {
    border: 2px solid rgba(155, 155, 155, 0.25);
    display: flex;

    @media only screen and (max-width: 1199px) {
        display: none;
    }
}

.category__item {
    flex: 1;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: $bv-lightgrey-color;
}

.category__link {
    height: 100%;
    padding: 27px 20px;
    color: $bv-lightgrey-color;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media only screen and (max-width: 767px) {
        padding: 10px 15px;
        font-size: 14px;
        line-height: 19px;
    }

    &:after {
        content: '';
        position: absolute;
        left: -2px;
        right: -2px;
        top: -2px;
        bottom: -2px;
        border: 2px solid transparent;
    }

    &.is--active {
        color: $bv-black-color;

        &:after {
            border-color: $bv-purple-color;
        }

        @media only screen and (max-width: 1199px) {
            color: $bv-lightgrey-color;


            &:after {
                border: 2px solid transparent;
            }
        }
    }
}