.category__dropdown {
    padding: 25px 50px 25px 30px;
    border: 2px solid #444158;
    box-shadow: 0px 0px 20px rgba(155, 155, 155, 0.5);
    font-size: 24px;
    position: relative;
    cursor: pointer;
    display: none;

    @media only screen and (max-width: 1199px) {
        display: block;
    }

    @media only screen and (max-width: 767px) {
        padding: 17px 50px 17px 30px;
        font-size: 14px;
        line-height: 19px;
    }
}

.category__dropdown-text {
    color: #2F2F2F;
    text-transform: uppercase;
    font-weight: 600;
}

.category__dropdown-icon {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    right: 24px;
    top: 30px;
    transform: rotate(90deg);

    @media only screen and (max-width: 767px) {
        width: 18px;
        height: 18px;
        top: 17px;
        right: 30px;
    }

    .arrow-icon {
        display: block;
    }
}