.category--secondary {
    .category__link:after {
        content: none;
    }

    .category__list {
        border-top: 0;
        border-right: 0;
        border-left: 0;

        @media only screen and (max-width: 1199px) {
            border: 2px solid rgba(155, 155, 155, 0.25);
        }
    }

    .category__info {
        display: block;

        @media only screen and (max-width: 767px) {
            font-size: 14px;
        }
    }
}