.socials {
    padding: 0 30px;
    align-self: center;
    margin-left: auto;

    @media only screen and(max-width: 767px) {
        max-width: 100%;
        width: 100%;
        margin: 20px auto 0;
        padding-top: 10px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        justify-content: center;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: -15px;
            right: -15px;
            border-top: 1px solid #C4C4C4;
        }
    }

    .social__link {
        img {
            @media only screen and(max-width: 767px) {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.socials__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 -25px;

    @media only screen and(max-width: 767px) {
        margin: 0 -15px;
    }
}


.socials__item {
    padding: 4px 25px;

    @media only screen and(max-width: 767px) {
        padding: 4px 15px;
    }
}

.socials--secondary {
    padding: 0;

    @media only screen and(max-width: 767px) {
        &:after {
            content: none;
        }
    }

    .socials__list {
        margin: 0 -15px;
        justify-content: center;
    }

    .socials__item {
        padding: 0 15px;
    }

    .socials__link {
        width: 24px;
        height: 24px;
    }
}