.sandwich {
    width: 24px;
    height: 18px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    flex: 0 0 auto;
    cursor: pointer;
    display: flex;

    @media only screen and (max-width: 767px) {
        width: 18px;
        height: 14px;
    }

    &__part {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $bv-purple-color;
        display: block;
        transition: all .3s ease-in-out;

        &:first-of-type {
            top: 0;
            transform: none;
        }

        &:nth-of-type(2) {
            opacity: 1;
            visibility: visible;
            top: 50%;
            transform: translateY(-50%);  
            transition-delay: 0.3s;
        }

        &:last-of-type {
            bottom: 0;
            transform: none;
        }
    }

    &.is--active {
        .sandwich__part {
            &:first-of-type {
                transform: rotate(45deg);
                position: absolute;
                top: 8px;

                @media only screen and (max-width: 767px) {
                    top: 6px;
                }
            }

            &:nth-of-type(2) {
                transition-delay: 0s;
                opacity: 0;
                visibility: hidden;
            }

            &:last-of-type {
                transform: rotate(-45deg);
                position: absolute;
                top: 8px;

                @media only screen and (max-width: 767px) {
                    top: 6px;
                }
            }
        }

    }
}