.nav {
    display: flex;
    height: 100%;
    background-color: #fff;
    align-items: baseline;

    @media only screen and (max-width: 767px) {
        height: auto;
        background-color: #FBFBFB;
    }
}

.nav__item {
    text-align: center;

    &:not(:last-of-type) {
        margin-bottom: 8px;

        @media only screen and(max-width: 767px) {
            margin-bottom: 6px;
        }
    }
}

.nav__list {
    padding: 20px 0;
    margin: auto 0;
    width: 100%;

    @media only screen and(max-width: 767px) {
        margin: 0;
    }
}

.nav__link {
    padding: 6px 30px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: $bv-black-color;
    position: relative;
    z-index: 2;
    display: block;
    @media only screen and(max-width: 767px) {
        font-size: 14px;
        line-height: 19px;
        padding: 5px 10px 6px;
    }

    &:hover {
        background-color: $bv-darkgrey-color;
    }

    &.is--active+.sub--menu {
        @media only screen and(max-width: 767px) {
            display: block;
        }
    }

    &.is--active .submenu-icon {
        @media only screen and(max-width: 767px) {
            transform: translateY(-50%) rotate(90deg);
        }
    }

    &[data-menu='sub-menu'] {
        @media only screen and(max-width: 767px) {
            border-bottom: 1px solid rgba(155, 155, 155, 0.5);
        }
    }
}

.is--submenu {
    position: relative;
    padding: 0 20px 0 20px;
}

.submenu-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @media only screen and (max-width: 767px) {
        width: 14px;
        height: 14px;
    }
}

.sub--menu {
    background-color: #fff;
    position: absolute;
    padding-top: 0;
    padding-bottom: 0;
    top: -35px;
    bottom: 0;
    width: 300px;
    left: 100%;
    display: flex;
    flex-direction: column;
    transition: transform .3s ease;
    transform: translateX(-800px);
    z-index: -1;

    @media only screen and(max-width: 767px) {
        position: static;
        padding: 14px 0;
        border-bottom: 1px solid rgba(155, 155, 155, 0.5);
        background-color: #FBFBFB;
        transform: none;
        width: 100%;
        display: none;
        
    }

    .is--hover {
        background-color: $bv-darkgrey-color;

        .sub--menu--second {
            z-index: 1;
        }
    }

    .nav__item:first-of-type {
        margin-top: auto;
    }

    .nav__item:last-of-type {
        margin-bottom: auto;
    }

    .is--submenu--second:first-of-type .sub--menu--second {
        z-index: 1;
        box-shadow: 4px 0px 10px 0px rgba(155, 155, 155, 0.25);

        @media only screen and(max-width: 767px) {
            box-shadow: none;
        }
    }

    .is--submenu--second:hover .sub--menu--second {
        z-index: 1;
    }
}

[data-menu='sub-menu'].is--active+.sub--menu {
    transform: none;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        box-shadow: 4px 0px 10px 0px rgba(155, 155, 155, 0.25);
        z-index: 1;

        @media only screen and(max-width: 767px) {
            content: none;
        }
    }
}


.sub--menu--second {
    @extend .sub--menu;
    padding: 0 30px;
    width: 500px;
    transform: none;
    top: 0;

    @media only screen and (max-width: 1199px) {
        display: none;
    }
}