.footer {
    .container {
        @media only screen and (max-width: 991px) {
            width: 100%;
            padding: 0;
        }
    }
}

.footer__top {
    padding: 20px 0;
    background-color: $bv-purple-color;

    @media only screen and (max-width: 991px) {
        padding: 20px 15px;
    }
}

.footer__bottom {
    padding: 25px 0;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media only screen and (max-width: 767px) {
        padding: 20px 0;
    }
}

.footer__items {
    display: flex;
    margin: 0 -30px;

    @media only screen and(max-width: 767px) {
        display: block;
        margin: 0;
    }
}

.footer__item {
    padding: 10px 30px;
    display: flex;

    @media only screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 19px;
        padding: 5px 0px;
        max-width: 220px;
        width: 100%;
        margin: auto;
    }
}

.footer-nav {
    display: flex;
    width: 100%;
    justify-content: center;

    @media only screen and (max-width: 991px) {
        display: block;
        text-align: center;
        margin-top: -20px;
    }
}

.footer-list {
    max-width: 320px;
    width: 100%;
    padding-right: 15px;

    @media only screen and (max-width: 991px) {
        max-width: 100%;
        text-align: center;
        padding-right: 0;
        padding: 20px 0;
        border-bottom: 1px solid #EFEFEF;
    }

    .footer-list__item {

        @media only screen and (max-width: 767px) {
            font-size: 14px;
            line-height: 19px;
        }

        &:not(:last-of-type) {
            margin-bottom: 10px;

            @media only screen and (max-width: 767px) {
                margin-bottom: 16px;
            }
        }
    }
}

.copyright {
    color: $bv-lightgrey-color;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin-top: 20px;

    a {
        color: $bv-lightgrey-color;
    }
}