.header {
    background-color: #FBFBFB;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    transition: all .1s ease;

    @media only screen and(max-width: 1199px) {
        padding: 27px 0;
    }

    @media only screen and(max-width: 767px) {
        padding: 20px 0;
    }

    &.is--scrolling {
        box-shadow: 0px 4px 10px rgba(155, 155, 155, 0.25);
    }
}


.header__item-sandwich {
    cursor: pointer;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
}

.header__nav {
    background-color: #fff;
    max-width: 300px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    transition: transform .3s ease;
    transform: translateX(-100%);

    @media only screen and(max-width: 767px) {
        top: 59px;
        right: 0;
        max-width: 100%;
        background-color: #FBFBFB;
        border-top: 2px solid rgba(155, 155, 155, 0.5);
        overflow-x: hidden;
        overflow-y: auto;
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        top: 0;
        box-shadow: 4px 0px 10px rgba(155, 155, 155, 0.25);

        @media only screen and(max-width: 767px) {
            content: none;
        }
    }

    &.is--active {
        transform: none;
    }
}

.header__nav-top {
    text-align: center;
    z-index: 1;
    padding-top: 18px;
    background-color: #fff;

    @media only screen and (max-width: 1199px) {
        padding-top: 30px;
    }

    @media only screen and (max-width: 767px) {
        display: none;
    }
}

.header__nav-bottom {
    z-index: 1;
    padding-bottom: 70px;
    background-color: #fff;

    @media only screen and (max-width: 767px) {
        padding: 35px 0;
        background-color: #FBFBFB;
        margin-top: auto;
    }
}

.header__nav-logo {
    width: 54px;
    max-height: 49px;
    overflow: hidden;

    @media only screen and (max-width: 1199px) {
         width: 35px;
         max-height: 35px;
    }

    img {
        width: 100%;
    }
}

.header__items {
    display: flex;
    align-items: center;
    margin: 0 -15px;

    @media only screen and(max-width: 767px) {
        margin: 0 -10px;
    }
}

.header__logo {
    margin-right: auto;
}

.header__item {
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: relative;

    @media only screen and(max-width: 767px) {
        padding: 0 10px;
    }
}