.color-palette-wrap {
    margin-top: 25px;
    width: 360px;
    margin-left: -20px;
    margin-right: -20px;

    @media only screen and(max-width: 1470px) {
        height: 42px;
        width: 284px;
        margin-top: 18px;
    }

    @media only screen and(max-width: 1199px) {
        width: 402px;
        height: 55px;
        margin: 20px auto;
        position: relative;
    }

    @media only screen and(max-width: 767px) {
        width: 270px;
        margin-bottom: 12px;
    }
}

.color-palette-list {
    width: 100%;
    padding: 0 20px;

    &.slick-carousel {

        overflow: hidden;
        opacity: 0;
        transition: opacity .4s ease;

        @media only screen and(max-width: 1470px) {
            height: 42px;
        }

        @media only screen and(max-width: 1199px) {
            height: 55px;
            padding: 0 41px;
        }
    }

    &.slick-initialized {
        opacity: 1;
    }

    .slick-list {
        margin: 0 -5px;
        z-index: 2;
    }
}

.color-palette__item {
    padding: 0 5px;
}

.color-palette__color {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    box-shadow: inset 0px 0px 5px rgba(155, 155, 155, 0.5);

    @media only screen and(max-width: 1470px) {
        width: 41px;
        height: 41px;
    }


    @media only screen and(max-width: 1199px) {
        width: 55px;
        height: 55px;
    }

    &.is--active {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 50%;
            border: 1px solid $bv-purple-color;
        }

        &:before {
            content: '';
            position: absolute;
            left: 1px;
            right: 1px;
            top: 1px;
            bottom: 1px;
            border-radius: 50%;
            border: 6px solid #fff;

            @media only screen and(max-width: 1470px) {
                border: 4px solid #fff;
            }

            @media only screen and(max-width: 1199px) {
                border: 6px solid #fff;
            }

        }
    }

    &.is--second {
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}

.color-palette-list.slick-initialized + .color-palette-nav {
    opacity: 1;
}

.color-palette-nav {
    padding: 0 20px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;

    @media only screen and(max-width: 1199px) {
        padding: 0;
        margin-top: 0;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        line-height: 0;
    }
}