.rating {
    display: flex;
    align-items: center;
    display: none;

    // @media only screen and (max-width: 767px) {
    //     display: block;
    // }
}

.rating__star {
    width: 28px;
    height: 18px;
    display: block;
    cursor: pointer;
    padding: 0 5px;
    @media only screen and (max-width: 767px) {
        width: 24px;    
        padding: 0;
    }
    &:hover {
        .star-icon__part {
            fill: $bv-purple-color;
        }

        &:hover ~ .rating__star .star-icon__part {
            fill: rgba(155,155,155,0.25);
        }
    }
}

.rating__stars {
    display: flex;
    margin: 0 10px;
    display: none;
    @media only screen and (max-width: 767px) {
        margin: 0;
    }
    input {
        position: absolute;
        z-index: -1;
        left: -9999px;
        opacity: 0;
    }
    
    &:hover .star-icon__part,
    input:nth-of-type(1):checked ~ .rating__star:nth-of-type(1) .star-icon__part,
    input:nth-of-type(2):checked ~ .rating__star:nth-of-type(-n+2) .star-icon__part,
    input:nth-of-type(3):checked ~ .rating__star:nth-of-type(-n+3) .star-icon__part,
    input:nth-of-type(4):checked ~ .rating__star:nth-of-type(-n+4) .star-icon__part,
    input:nth-of-type(5):checked ~ .rating__star:nth-of-type(-n+5) .star-icon__part {
        fill: $bv-purple-color;
    }   
}

.rating__link {
    padding: 10px 0;
    font-size: 14px;
    line-height: 19px;
    text-decoration: underline;
    @media only screen and (max-width: 767px) {
        font-size: 11px;
        line-height: 15px;
        padding-bottom: 6px;
    }
    &:hover {
        text-decoration: none;
    }
}