.product-wrap {
    margin: 0 -20px 34px;
    display: flex;
    align-items: flex-start;

     @media only screen and (max-width: 991px) {
         display: block;
     }
}

.detail-card {
    max-width: 520px;
    width: 100%;
    flex: 1;
    padding: 0 20px;

    @media only screen and (max-width: 991px) {
        margin: 0 auto 40px;
    }
}

.detail-card__product {
    max-width: 480px;
    width: 100%;
    transition: opacity .4s ease;
    @media only screen and (max-width: 767px) {
        width: 270px;
        height: 270px;
    }
   

    &.slick-carousel {
        height: 480px;
        overflow: hidden;
        opacity: 0;

        &.slick-initialized {
            opacity: 1;
            height: auto;


            @media only screen and (max-width: 767px) {
                width: 270px;
                height: auto;
                margin: -30px auto 0;
            }
        }

        .detail-card__img {
            // opacity: 0;
            
            padding-top: 15px;

            @media only screen and (max-width: 767px) {
                width: 100%;
                height: 300px;
                padding-bottom: 15px;
            }
        }

        // .slick-current {
        //     opacity: 1;
        //     animation: animationOpacity .4s linear forwards;
        // }
    }
}

.detail-card__img {
    width: 100%;
    height: 480px;

    .fancybox {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        max-height: 100%;
    }
}

.detail-card__nav {
    max-width: 480px;
    width: 100%;
}

.detail-card__nav {
    height: 146px;
    overflow: hidden;
    transition: opacity .4s ease;

    @media only screen and (max-width: 767px) {
        width: 280px;
        height: 96px;
        margin: auto;
    }

    .detail-card__img {
        width: 146px;
        height: 146px;

        @media only screen and (max-width: 767px) {
            width: 90px;
            height: 90px;
        }
    }

    &.slick-carousel {
        opacity: 0;

        &.slick-initialized {
            opacity: 1;
        }
    }

    .slick-list {
        height: 100%;
        margin: 0 -10px;
    }

    .slick-track {
        height: 100%;
    }
}

.detail-card__item {
    padding: 0 10px;

    &:not(.slick-current) {
        opacity: 0.6;
        cursor: pointer;
    }
}

.detail-card__dots {
    max-width: 480px;
    padding: 10px 0;

    .slick-dots {
        justify-content: center;
    }
}

.info-card {
    width: 100%;
    flex: 1;
    position: relative;
}

.info-card__name {
    text-transform: uppercase;
    padding: 0 18px;
    padding-right: 265px;

    @media only screen and (max-width: 767px) {
        padding-right: 180px;

    }
}

.info-card__items {
    padding: 0 20px;
    display: flex;
    align-items: center;

    .product-blank__cost {
        @media only screen and (max-width: 767px) {
            align-self: flex-end;
            .price {
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
}

.info-card__list {
    margin: 0 -6px;
}

#list-btn {
    @media only screen and (max-width: 767px) {
        padding-top: 10px;
    }
    .info-card__item {

        @media only screen and (max-width: 767px) {
            display: block;
            max-width: 270px;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
    
            .btn {
                width: 100%;
            }
        }
    }
}

.info-card__item {
    display: inline-block;
    padding: 10px 6px;

    @media only screen and (max-width: 767px) {
        padding: 5px 0;
    }

    input {
        position: absolute;
        z-index: -1;
        left: -9999px;
        opacity: 0;
    }

    input+.btn {
        position: relative;

        @media only screen and (max-width: 767px) {
            font-size: 14px;
            padding: 14px 10px 15px;
            min-width: 100px;
        }
    }

    input:checked+.btn {
        color: $bv-black-color;
        box-shadow: 0px 0px 20px rgba(155, 155, 155, 0.5);

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            border: 2px solid $bv-purple-color;
        }
    }
}

.info-card__row {
    margin-top: 25px;
    padding: 0 20px;

    @media only screen and (max-width: 767px) {
        margin-top: 15px;
    }
}

.info-card__title {
    text-transform: uppercase;
    color: $bv-lightgrey-color;

    @media only screen and (max-width: 767px) {
        h4 {
            font-size: 13px;
            line-height: 18px;
        }
    }
}

.info-card__text {
    color: $bv-black-color;
    font-size: 14px;
    line-height: 19px;

    @media only screen and (max-width: 767px) {
        font-size: 11px;
        line-height: 15px;
    }

    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

.detail-product {
    .product-blank__cost {
        position: absolute;
        right: 15px;
        top: -2px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-left: 0;
        width: 236px;
        text-align: right;
    }
}