.products {
    border-top: 2px solid rgba(155, 155, 155, 0.25);
    text-align: center;

    @media only screen and (max-width: 767px) {
        padding-top: 10px;
    }
}

.products__row {
    margin: 0 -20px 74px;
    display: flex;
    flex-wrap: wrap;

    @media only screen and (max-width: 1470px) {
        margin: 0 -40px 74px;
    }

    @media only screen and (max-width: 1199px) {
        margin: 0 -20px 70px;
    }

    @media only screen and (max-width: 767px) {
        margin: 0 -20px;
    }
}

.products__row-item {
    max-width: 546px;
    width: 100%;
    padding: 20px;

    @media only screen and (max-width: 1660px) {
        max-width: 492px;
    }

    @media only screen and (max-width: 1470px) {
        padding: 20px 40px;
        max-width: 610px;
    }

    @media only screen and (max-width: 1199px) {
        padding: 20px 20px;
        max-width: 480px;
    }

    @media only screen and (max-width: 991px) {
        max-width: 100%;
    }
}

.product-blank {
    padding: 0 30px;
    max-width: 100%;
    width: 100%;
    position: relative;

    @media only screen and (max-width: 767px) {
        padding: 0;
    }

    &:hover {
        .product-blank__footer {
            opacity: 1;
            transform: none;
        }



        .product-blank__body {
            opacity: 0;
            visibility: hidden;

            @media only screen and (max-width: 767px) {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.product-blank__head {
    height: 478px;
    position: relative;

    @media only screen and (max-width: 767px) {
        height: 322px;
    }
}

.product-blank__img {
    width: 100%;
    height: 100%;
}

.product-blank__label {
    position: absolute;
    left: -30px;
    top: 0;
    min-width: 100px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(155, 155, 155, 0.5);
    z-index: 1;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px;
}

.product-blank__body {
    display: flex;
    padding: 10px 0;

    @media only screen and (max-width: 767px) {
        align-items: center;
        max-width: 220px;
        margin: auto;
        padding: 10px 0 0;
    }
}

.product-blank__cost {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: $bv-lightgrey-color;
    flex: 0 0 auto;
    margin-left: auto;

    @media only screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 19px;
        flex: 0 0 auto;
    }
}


.product-blank__name {
    padding-right: 25px;

    @media only screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 19px;
        text-align: left;
        padding-right: 10px;
    }
}

.product-blank__name h3 {
    font-family: 'Open Sans', $bv-helvetica;
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 287px;

    @media only screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 19px;
        max-width: auto;
        overflow: visible;
        white-space: normal;
    }
}

.product-blank__footer {
    padding: 15px 0;
    text-align: center;
    position: absolute;
    bottom: -14px;
    left: 0;
    right: 0;
    transform: translateY(-40px);
    transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;

    @media only screen and (max-width: 767px) {
        position: static;
        transform: none;
        opacity: 1;
        padding: 10px 0;
    }

    .btn {
        min-width: 300px;

        @media only screen and (max-width: 767px) {
            min-width: 220px;
            font-size: 14px;
            line-height: 19px;
            padding: 15px 15px 16px;
        }
    }
}