.product {
    position: absolute;
    right: -35px;
    top: -220px;
    max-width: 780px;
    width: 100%;
    height: 85vh;

    @media only screen and(max-width: 1470px) {
        max-width: 605px;
        top: -142px;
        height: 83vh;
    }

    @media only screen and(max-width: 1199px) {
        max-width: 100%;
        position: static;
        height: 500px;
    }

    @media only screen and(max-width: 767px) {
        height: 300px;
    }
}

.product__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px 0 31px;
    margin: 0 -27px;

    @media only screen and(max-width: 1470px) {
        margin: 0 -20px;
        padding: 0 0 41px;
    }

    @media only screen and(max-width: 1199px) {
        order: 2;
        padding-bottom: 0;
        justify-content: center;
    }

    @media only screen and(max-width: 767px) {
        padding: 0 -9px;
    }
}

.product__item {
    padding: 8px 27px;
    font-size: 36px;
    color: #444158;

    @media only screen and(max-width: 1470px) {
        font-size: 24px;
        padding: 8px 20px;
    }

    @media only screen and(max-width: 767px) {
        padding: 8px 9px;
    }

    .product__btn {
        padding: 23px 15px;
        font-size: 24px;
        min-width: 297px;

        @media only screen and(max-width: 1470px) {
            font-size: 20px;
            padding: 16px 10px 17px;
            min-width: 220px;
        }

        @media only screen and(max-width: 767px) {
            font-size: 14px;
            padding: 15px 10px 16px;
            min-width: 150px;
        }
    }
}

.product__img {
    width: 100%;
    height: 100%;

    img {
        max-height: 100%;
    }
}

