.product-card {
    display: flex;
}

.product-card__info {
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    color: $bv-lightgrey-color;
    padding-left: 20px;
    position: relative;
    padding-bottom: 26px;
    padding-right: 10px;
    width: 100%;
    strong {
        color: $bv-black-color;
    }

    p:not(:last-of-type) {
        margin-bottom: 10px;
    }
}

.product-card__detail {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.product-card__img {
    width: 146px;
    height: 146px;
    flex: 0 0 auto;
    align-self: center;
}