.layout {
    padding-top: 84px;
    padding-bottom: 80px;
    background-color: #fff;

    @media only screen and(max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.layout__wrap {
    @media only screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 20px 16px;
        background-color: #FBFBFB;
        box-shadow: 0px -4px 10px rgba(155, 155, 155, 0.25);
        z-index: 1;

        &.active {
            position: static;
            box-shadow: none;
        }
    }

    @media only screen and(max-width: 767px) {
        padding: 15px 0 7px;
    }
}