.layout__sect {
    padding-top: 70px;

    @media only screen and(max-width: 767px) {
        padding-top: 60px;
    }

    .container__contains {
        max-width: 900px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .layout__title {
        text-align: center;
        margin-bottom: 38px;

        @media only screen and(max-width: 767px) {
            margin-bottom: 24px;
        }

        h2 {
            display: inline-block;
            padding: 0 24px;

            @media only screen and(max-width: 767px) {
                padding: 0;
            }

            &:before {
                content: '';
                width: 15px;
                display: inline-block;
                height: 15px;
                border-radius: 50%;
                background-color: $bv-purple-color;
                margin-right: 10px;
                position: relative;
                top: -2px;

                @media only screen and(max-width: 767px) {
                    width: 8px;
                    height: 8px;
                    top: 0;
                }
            }
        }

    }

    .layout__info {
        padding: 0;
        text-align: center;
    }
}

.layout__subtitle {
    font-size: 24px;
    text-align: center;
}


/***********layout__sect--bg**************/
.layout__sect--bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 320px;
    padding: 70px 0;
    margin-top: 70px;
    color: #fff;
    position: relative;
    z-index: 1;

    @media only screen and (max-width: 767px) {
        padding: 40px 0;
        min-height: 190px;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(68, 65, 88, 0.5), rgba(68, 65, 88, 0.5));
        z-index: -1;
    }

    .layout__info {
        .full-content {
            margin-bottom: 0;
        }
    }

    .full-content {
        color: #fff;
    }
}

.layout__sect+.layout__sect--secondary {
    margin-top: 70px;

    @media only screen and (max-width: 767px) {
        margin-top: 60px;
    }
}

/***********layout__sect--secondary**************/
.layout__sect--secondary {
    background-color: $bv-darkgrey-color;
    padding: 55px 0 60px;

    @media only screen and (max-width: 767px) {
        padding: 30px 0;
    }

    .layout__title {
        margin-bottom: 16px;
    }
}


/***********layout__sect--third**************/
.layout__sect--third {
    .layout__info {
        font-size: 24px;
    }

    .layout__title {
        margin-bottom: 20px;
    }
}