.layout__info {
    padding: 14px 0;

    .full-content {
        margin-bottom: 30px;

        @media only screen and(max-width: 767px) {
           font-size: 13px;
           line-height: 18px;
        }
    }
}

.layout__info-title {
    text-align: center;
    text-transform: uppercase;
}

.layout__info-items {
    display: flex;
    flex-wrap: wrap;
    margin: 25px -5px;
    justify-content: center;
}

.layout__info-item {
    padding: 5px;
}

.layout__info-link {
    background-color: #fff;
    border: 1px solid rgba(155, 155, 155, 0.25);
    color: $bv-lightgrey-color;
    font-weight: 600;
    line-height: 25px;
    padding: 17px 22px 16px;
    position: relative;

    &:hover,
    &:active,
    &:focus {
        border: 1px solid rgba(155, 155, 155, 0.25);
    }

    &.is--active {
        box-shadow: 0px 0px 20px rgba(155, 155, 155, 0.5);
        color: $bv-black-color;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border: 2px solid $bv-black-color;
        }
    }
}