.layout-alert {
    padding: 80px 15px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.layout-alert__contains {
    text-align: center;
    margin: auto;
    width: 100%;
}

.layout-alert__img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    @media only screen and (max-width: 767px) {
        width: 100px;
        margin-bottom: 20px;
    }
}

.layout-alert__title {
    margin-bottom: 20px;
}

.layout-alert__subtitle {
    font-size: 24px;
    line-height: 33px;
}

.layout-alert__sbtn {
    margin-top: 40px;
}