.layout__main-sect {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(239, 239, 239, 0.26);
    height: calc(100vh - 84px);
    padding: 106px 0;

    @media only screen and (min-width: 1921px), only screen and (min-height: 1081px) {
        height: auto;
    }

    @media only screen and(max-width: 1470px) {
        padding: 30px 0;
    }

    @media only screen and(max-width: 1199px) {
        height: auto;
    }

    @media only screen and(max-width: 767px) {
        padding: 8px 0;
    }

    .layout__title {
        padding: 12px 0 11px;
        line-height: 115px;
        background-color: $bv-darkgrey-color;
        text-transform: uppercase;
        color: $bv-purple-color;

        @media only screen and(max-width: 1470px) {
            line-height: 84px;
        }

        @media only screen and(max-width: 991px) {
            padding: 13px 0 12px;
            text-align: center;
        }
    }

    .container {
        position: relative;
    }

    .layout-row {
        margin-top: auto;
        margin-bottom: auto;

        @media only screen and(max-width: 1470px) {
            margin-top: 22px;
        }

        @media only screen and(max-width: 767px) {
            margin: 0;
        }
    }

    .layout__info {
        font-size: 24px;

        @media only screen and(max-width: 1470px) {
            font-size: 22px;
        }

        .full-content {
            color: #444158;
            font-size: 24px;
            height: 134px;
            overflow: hidden;
            margin-bottom: 0;

            @media only screen and(max-width: 1470px) {
                height: 124px;
                font-size: 22px;
                
            }

            @media only screen and(max-width: 1199px) {
                height: auto;
            }

            @media only screen and(max-width: 767px) {
                font-size: 14px;
                line-height: 19px;
            }
        }
    }

    .container__contains {
        padding-right: 49.3%;

        @media only screen and(max-width: 1470px) {
            padding-right: 42.3%;
        }

        @media only screen and(max-width: 1199px) {
            padding-right: 0;
            text-align: center;
        }
    }
}