.layout__items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 -20px;

    @media only screen and(max-width: 1199px) {
        display: block;
        margin: 0 auto;
    }
}

.layout__item {
    flex: 1;
    padding: 5px 20px;
    font-size: 24px;

    @media only screen and(max-width: 1470px) {
        font-size: 18px;
    }
}

.layout__item-name {
    max-width: 350px;
    width: 100%;

    @media only screen and(max-width: 1470px) {
        max-width: 260px;
    }

    @media only screen and(max-width: 1199px) {
        max-width: 100%;
        padding: 0;
        text-align: center;
        font-size: 24px;
    }

    @media only screen and(max-width: 767px) {
        font-size: 14px;
        line-height: 19px;
    }
}

.layout__item-select  {

    @media only screen and(max-width: 1199px) {
        padding: 0;
    }

    p {
        @media only screen and(max-width: 1199px) {
            display: none;
        }
    }
   
}