.cabinet {
    margin-top: 30px;

    .category__dropdown {
        min-height: 87px;

        @media only screen and (max-width: 767px) {
            min-height: 57px;
        }
    }
}

.cabinet__sections {
    display: flex;
    align-items: center;
    margin: 10px -10px 0;
    flex-wrap: wrap;
    border: 0;

    @media only screen and (max-width: 1199px) {
        display: none;
        border: 2px solid rgba(155, 155, 155, 0.25);
        margin: 0;
    }
}

.cabinet__section {
    padding: 10px;

    @media only screen and (max-width: 1199px) {
        padding: 0;

        .btn {
            font-size: 24px;
            line-height: 33px;
            text-transform: uppercase;
            border: 0;
            width: 100%;
            display: block;
            color: #9B9B9B;
            padding: 27px 20px;
        }
    }

    @media only screen and (max-width: 767px) {
        .btn {
            padding: 10px 15px;
            font-size: 14px;
            line-height: 19px;
        }
    }
}

.cabinet__data-img {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.cabinet__data-name {
    text-transform: uppercase;
    text-align: center;
}

.cabinet__data-list {
    margin-top: 30px;
}

.cabinet__data-item {
    display: flex;
    &:not(:last-of-type) {
        margin-bottom: 12px;
    }

    @media only screen and (max-width: 767px) {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

.cabinet__data-label,
.cabinet__data-text {
    flex: 1;
}

.cabinet__data-label {
    text-align: right;
    font-size: 14px;
    line-height: 19px;
    padding: 5px 20px;

    @media only screen and (max-width: 767px) {
        width: 116px;
        flex: 0 0 auto;
        font-size: 11px;
        line-height: 15px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 5px;
    }
}

.cabinet__data-text {
    padding: 0 20px;
}

.cabinet__data-text,
.cabinet__data-text a {
    font-size: 18px;
    line-height: 25px;
    color: $bv-black-color;

    @media only screen and (max-width: 767px) {
        padding: 0;
        padding-left: 5px;
        font-size: 13px;
        line-height: 18px;
        word-break: break-all;
    }
}

.cabinet__data-btn {
    margin-top: 60px;
    text-align: center;
    
    @media only screen and (max-width: 767px) {
        margin-top: 30px;
    }
}

.cabinet__data {
    margin-top: 30px;
    overflow: hidden;
}

.cabinet__data-form {
    display: flex;
    justify-content: center;
    margin: 0 -10px;

     @media only screen and (max-width: 767px) {
         flex-direction: column;
         align-items: center;

         .form--secondary .form__items {
             display: block;
         }

         .form--secondary .form__item-label {
             text-align: left;
         }

         .form--secondary .form__item {
             max-width: 100%;
         }
     }

    .form {
        padding: 0 10px;
        width: 100%;
    }

    &.is--secondary {
        margin-top: 50px;
        padding-top: 40px;
        border-top: 1px solid rgba(155, 155, 155, 0.5);
        display: none;

        &.is--active {
            display: flex;
        }
    }
}

.cabinet__btn {
    margin-top: 30px;
    text-align: center;
}

.cabinet__link {
    position: absolute;
    bottom: -26px;
    left: 10px;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #000;

    &:hover {
        text-decoration-line: none;
    }
}