.cabinet__cart {
    margin-top: 30px;
    border: 2px solid rgba(155, 155, 155, 0.5);
    border-top: 0;

    .cabinet__cart-row {
        border: 0;

        @media only screen and (max-width: 767px) {
            margin: 0;
        }

        &:not(:last-of-type) {
            margin-bottom: 0;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 20px;
                right: 20px;
                border-bottom: 1px solid #CDCDCD;
            }
        }
    }
}

.cabinet__cart-head {
    background-color: #F5F5F5;
    margin: 0 -2px;

    
}

.cabinet__cart-items {
    display: flex;
    flex-wrap: wrap;
    margin: -8px -35px;
    align-items: center;
    padding: 18px 30px 19px;

    @media only screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 5px;
    }
}

.cabinet__cart-item {
    font-size: 14px;
    line-height: 19px;
    color: rgba(47, 47, 47, 0.5);
    padding: 8px 35px;
    @media only screen and (max-width: 767px) {
        font-size: 11px;
        line-height: 15px;
        padding: 5px;
    }

    span {
        font-size: 18px;
        line-height: 25px;
        color: #2F2F2F;

        @media only screen and (max-width: 767px) {
            font-size: 14px;
            line-height: 19px;
        }

        strong {
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
            vertical-align: middle;

            @media only screen and (max-width: 767px) {
                font-size: 14px;
                line-height: 19px;
                vertical-align: text-bottom;
            }
        }
    }

    &:last-of-type {
        margin-left: auto;
    }
}