.btn {
    font-family: "Open Sans", $bv-helvetica;
    font-weight: 600;
    min-width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    color: #fff;
    background-color: $bv-purple-color;
    box-shadow: 0px 0px 20px rgba(155, 155, 155, 0.5);
    padding: 16px 30px 17px;
    text-align: center;

    @media only screen and (max-width: 767px) {
        min-width: 150px;
        font-size: 14px;
        line-height: 19px;
        padding: 15px 10px 16px;
    }
}

.btn--secondary {
    min-width: 300px;
    background-color: #fff;
    color: $bv-black-color;
    box-shadow: none;
    border: 2px solid $bv-purple-color;

    &:hover,
    &:focus {
        border: 2px solid $bv-purple-color;
    }

    @media only screen and (max-width: 767px) {
        min-width: 220px;
        font-size: 14px;
        line-height: 19px;
        padding: 8px 10px 9px;
    }
}

.btn--third {
    background-color: #fff;
    border: 1px solid rgba(155, 155, 155, 0.25);
    color: $bv-lightgrey-color;
    font-size: 18px;
    box-shadow: none;
    cursor: pointer;
    min-width: auto;

    &:hover,
    &:active,
    &:focus {
        border: 1px solid rgba(155, 155, 155, 0.25);
    }

    &.is--current {
        color: #2F2F2F;
        -webkit-box-shadow: 0px 0px 20px rgba(155, 155, 155, 0.5);
        box-shadow: 0px 0px 20px rgba(155, 155, 155, 0.5);
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            border: 2px solid #444158;
        }
    }
}

.btn--fourth {
    background-color: #fff;
    box-shadow: none;
    color: $bv-black-color;
}

.btn--fifth {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    padding: 10px 14px;
    min-width: auto;
}

.btn-link {
    color: $bv-black-color;
    font-size: 14px;
    line-height: 19px;
    display: inline-flex;
    align-items: center;
    text-transform: none;

    span {
        text-decoration: underline;
    }

    .btn-link__icon {
        height: 19px;
        margin-left: 10px;
        flex: 0 0 auto;

        .arrow__part {
            fill: $bv-black-color;
        }
    }


    &:hover {
        span {
            text-decoration: none;
        }
    }
}

// [data-list-btn] .btn {
//     transition: all 0.3s;
// }