.close {
    width: 30px;
    height: 22px;
    position: absolute;
    right: 30px;
    top: 33px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    cursor: pointer;

    @media only screen and (max-width: 767px) {
        width: 22px;
        height: 18px;
        right: 25px;
        top: 23px;
    }

    &__part {
        width: 100%;
        height: 2px;
        background-color: $bv-purple-color;
        display: block;

        &:first-of-type {
            transform: rotate(45deg);
            position: absolute;
            top: 8px;
        }

        &:last-of-type {
            transform: rotate(-45deg);
            position: absolute;
            top: 8px;
        }
    }
}