.overview-wrap {
    transition: opacity .4s ease;
    position: relative;

    @media only screen and (max-width: 767px) {
        margin: 0 -15px;
    }

    &.slick-carousel {
        height: 400px;
        overflow: hidden;
        opacity: 0;

        &.slick-initialized {
            opacity: 1;
            height: 100%;
        }
    }

    .slick-dots {
        opacity: 1;
        position: absolute;
        left: calc(50% + 4px);
        bottom: 76px;
        transition: top .4s ease;
        transform: translateX(-50%);

        @media only screen and (max-width: 1199px) {
            left: calc(50% + 44px);
            bottom: 64px;
        }

        @media only screen and (max-width: 991px) {
            bottom: 15px;
        }

        @media only screen and (max-width: 767px) {
            position: static;
            transform: none;
            max-width: 322px;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            padding: 0 15px;
        }
    }
}

.overview {
    margin: 0 -15px;

    @media only screen and (max-width: 767px) {
        text-align: center;
    }
}

.overview__blank {
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 767px) {
        display: inline-block;
    }
}

.overview__blank-img {
    height: 100%;
    width: 100%;

    @media only screen and (max-width: 767px) {
        height: 220px;
    }
}

.overview__blank-text {
    max-width: 610px;
    padding: 0 15px;
    line-height: 25px;
    margin: auto 0;
    flex: 1;
    align-self: center;

    @media only screen and (max-width: 767px) {
        margin: 30px 0 24px;
        max-width: 350px;
        text-align: center;
        font-size: 14px;
        line-height: 19px;
        padding-left: 30px;
        padding-right: 30px;

        h3 {
            line-height: 25px;
        }

        &> * {
            text-align: center!important;
        }
    }

    &>*:not(:last-child) {
        margin-bottom: 0;
    }

    >*:first-child {
        margin-bottom: 15px;
    }
}

.overview__blank-wrap {
    max-width: 530px;
    width: 100%;
    flex: 1;
    padding: 0 15px;
    height: 400px;
    overflow: hidden;

    @media only screen and (max-width: 767px) {
        max-width: 350px;
        height: 220px;
    }

}


/************Попросили задать высоту без скролла*************/
.overview__blank-text {
    height: 166px;
    overflow: hidden;

     @media only screen and (max-width: 767px) {
             height: 158px;
     }
}


.layout__sect.layout__sect--bg+.layout__sect .overview__blank {
    @media only screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
}


.layout__sect.layout__sect--bg+.layout__sect .overview__blank-text {
    @media only screen and (max-width: 767px) {
        order: -1;
        margin: 0 0 30px;
        flex: 0 0 auto;
    }
}