.container {
    width: 1630px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;

    @media only screen and(max-width: 1660px) {
        width: 1470px;
    }

    @media only screen and(max-width: 1470px) {
        width: 1170px;
    }

    @media only screen and(max-width: 1199px) {
        width: 950px;
    }

    @media only screen and(max-width: 991px) {
        width: 750px;
    }

    @media only screen and(max-width: 767px) {
        width: 100%;
    }
}

.container__form {
    width: 100%;
    display: flex;
    justify-content: center;

    &>.wpcf7 {
        margin-left: auto;
        margin-right: auto;
    }

    .submit-wrap {
        position: relative;
    }

    div.wpcf7 .ajax-loader {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}