.error404 {
    .header {
        background-color: #fff;
        box-shadow: none;
        position: static;
    }

    .layout {
        display: flex;
        padding: 0;
        align-items: baseline;
        height: 100%;
        flex: 1;

        @media only screen and (max-width: 767px) {
            display: block;
        }
    }

    .layout__sect {
        padding-bottom: 70px;
        margin: auto;
    }

    h2 {
        @media only screen and (max-width: 991px) {
            font-size: 38px;
        }

        @media only screen and (max-width: 767px) {
            font-size: 20px;
            z-index: 1;
        }
    }

}

.error__btns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: center;

    @media only screen and (max-width: 767px) {
        display: block;
    }

    .btn {
        min-width: 280px;

        @media only screen and (max-width: 767px) {
            min-width: 100%;
        }
    }
}

.error__btns-item {
    padding: 8px 15px;
}

.error__text {
    max-width: 804px;
    width: 100%;
    margin: 0 auto 30px;
}

.error__banner {
    position: relative;
    width: 900px;
    display: flex;
    margin: 0 auto 20px;

    @media only screen and (max-width: 991px) {
        width: 720px;
    }

    @media only screen and (max-width: 767px) {
        width: 300px;
    }
}

.error__banner-part {
    width: 500px;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: contain;

    @media only screen and (max-width: 991px) {
        width: 400px;
        min-height: 400px;
    }

    @media only screen and (max-width: 767px) {
        width: 280px;
        min-height: 280px;
    }
}

.error__banner-part.is--first {
    padding: 60px 50px 60px 94px;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 767px) {
        padding: 60px 40px 60px 60px;
    }
}

.error__banner-part.is--second {
    position: absolute;
    top: -86px;
    width: 600px;
    height: 600px;
    right: -104px;

    @media only screen and (max-width: 991px) {
        top: -71px;
        width: 450px;
        height: 450px;
        right: -50px;
    }

    @media only screen and (max-width: 767px) {
        top: -55px;
        width: 320px;
        height: 320px;
        right: -110px;
    }
}