.cart-tbl--secondary {
    position: static;
    box-shadow: none;
    width: 100%;
    padding-bottom: 0;

    .cart-tbl__body {
        padding: 0;
        text-align: center;
    }

    .cart-tbl__text {
        margin-bottom: 6px;
        width: 100%;
        align-items: center;
    }

    .cart-tbl__name {
        margin-right: 0;
        text-transform: none;
        text-align: left;
    }

    .cart-tbl__row {
        padding: 20px 0;
        &:last-of-type {
            padding-bottom: 0;
            border-bottom: 0;
        }
    }

    .cart-tbl__descr {
        margin-top: -2px;
        margin-bottom: 13px;
    }

    .cart-tbl__descr>* {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}