.cart-tbl--layout {
  position: static;
  box-shadow: none;
  width: 100%;
  padding-bottom: 0;

  @media only screen and (max-width: 767px) {
    max-width: 100%;
  }

  .cart-tbl__msg {
    padding-top: 0;
    padding-bottom: 22px;
  }

  .cart-tbl__label {
    @media only screen and (max-width: 767px) {
      font-size: 11px;
      line-height: 15px;
    }
  }

  .cart-tbl__row {
    padding: 20px;
    border: 1px solid rgba(155, 155, 155, 0.5);

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      padding: 30px 25px;
      margin: 0 -15px;
    }

    &:not(:last-of-type) {
      margin-bottom: 20px;

      @media only screen and (max-width: 767px) {
        margin-bottom: -1px;
      }
    }
  }

  .cart-tbl__descr {
    font-size: 14px;
    line-height: 19px;
    color: $bv-black-color;
    margin-bottom: 23px;
    margin-top: 20px;

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  .cart-tbl__name {
    text-transform: uppercase;

    @media only screen and (max-width: 767px) {
      margin-right: 0;
      font-size: 14px;
      line-height: 19px;
    }
  }

  .cart-tbl__img {
    width: 194px;
    height: 194px;

    @media only screen and (max-width: 767px) {
      margin-right: auto;
      margin-left: auto;
      width: 230px;
      height: 230px;

    }
  }

  .cart-tbl__items {
    justify-content: space-between;
  }

  .cart-tbl__info {
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;

    .cart-tbl__text {
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }

    &.is--mob {
      display: none;

      @media only screen and (max-width: 767px) {
        display: block;
        padding-top: 0;
      }

      .cart-tbl__text {
        @media only screen and (max-width: 767px) {
          display: flex;
        }
      }

      .cart-tbl__descr {
        @media only screen and (max-width: 767px) {
          display: block;
          font-size: 11px;
          line-height: 15px;
          display: flex;
          flex-wrap: wrap;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .cart-tbl__text {
    padding: 10px 0 0;
    margin-bottom: 0;
    width: 100%;
    align-items: center;

    @media only screen and (max-width: 767px) {
      padding: 0;
    }
  }

  .cart-tbl__stext {
    text-align: center;
  }
}


.cart-tbl__label {
  font-size: 14px;
  line-height: 19px;
  color: rgba(47, 47, 47, 0.5);
  margin-bottom: 10px;
}