.cart-tbl {
    background-color: #fff;
    box-shadow: -4px 0px 10px rgba(155, 155, 155, 0.25);
    width: 438px;
    position: absolute;
    top: 0;
    min-height: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    @media only screen and (max-width: 767px) {
        max-width: 320px;
    }
}

.cart-tbl__title {
    text-transform: uppercase;
}

.cart-tbl__value {
    font-weight: 600;
    color: $bv-lightgrey-color;

    @media only screen and (max-width: 767px) {
        font-size: 14px;
    }
}

.cart-tbl__head {
    padding: 30px 60px 30px 30px;
    border-bottom: 2px solid rgba(155, 155, 155, 0.5);

    @media only screen and (max-width: 767px) {
        padding: 20px 50px 20px 25px;
    }
}

.cart-tbl__items {
    display: flex;
    margin: -4px -15px;
}

.cart-tbl__item {
    padding: 4px 15px;
}

.card-tbl__remove {
    display: none;

    // @media only screen and (max-width: 767px) {
    //     display: block;
    //     padding-top: 32px;
    //     padding-bottom: 0;
    //     padding-right: 0;
    //     margin-right: auto;
    // }
}

.cart-tbl__body {
    padding: 20px 30px 0;

    @media only screen and (max-width: 767px) {
        padding: 20px 25px 0;
    }
}

.cart-tbl__row {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid rgba(155, 155, 155, 0.5);

    @media only screen and (max-width: 767px) {
        padding: 10px 0;
    }
}

.cart-tbl__img {
    width: 100px;
    flex: 0 0 auto;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.cart-tbl__info {
    width: 100%;
}

.cart-tbl__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;

    @media only screen and (max-width: 767px) {
        margin-bottom: 5px;
    }
}

.cart-tbl__name {
    // text-transform: uppercase;
    margin-right: 15px;

    @media only screen and (max-width: 767px) {
        font-size: 13px;
        line-height: 18px;
    }
}

.cart-tbl__descr {
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
    line-height: 15px;
    color: $bv-lightgrey-color;
    margin: 0 -10px 15px;

    @media only screen and (max-width: 767px) {
        margin: 0 -10px 10px;
        font-size: 11px;
        line-height: 15px;
        color: #2F2F2F;
    }

    &>* {
        padding: 0 10px;
    }

    .btn--third {
        padding: 11px 19px 12px;
    }
}

.cart-tbl__bottom {
    margin-top: -10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    @media only screen and (max-width: 767px) {
        font-size: 13px;
    }
}

.cart-tbl__footer {
    padding: 16px 30px 30px;
    margin-left: -8px;

    @media only screen and (max-width: 767px) {
        padding: 10px 25px 30px;
    }

    .cart-tbl__text {
        flex-wrap: wrap;
        align-items: center;

        @media only screen and (max-width: 767px) {
            margin: 0 -8px;
        }
    }
}

.cart-tbl__stext {
    font-size: 14px;
    line-height: 19px;
    padding: 8px;
}

.cart-tbl__alert {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}

.cart-tbl__btns {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 767px) {
        margin-top: 17px;
    }
}

.cart-tbl__btn {
    max-width: 320px;
    width: 100%;

    .btn {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.cart-tbl__block {
    padding: 30px;
    display: flex;
    background-color: $bv-darkgrey-color;

    .cart-tbl__bottom {
        margin-top: 0;
    }
}

.cart-tbl__msg {
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;

    @media only screen and (max-width: 767px) {
        padding-top: 10px;
    }
}

.cart-tbl__icon {
    margin-bottom: 30px;

    @media only screen and (max-width: 767px) {
        margin-bottom: 10px;
    }
}

.mini-cart-data {
    .cart-tbl__footer {
        margin-left: 0;
    }
}