.cart {
    position: relative;
}

.cart__circle {
    position: absolute;
    width: 15px;
    height: 15px;
    overflow: hidden;
    border-radius: 50%;
    background-color: $bv-purple-color;
    right: -2px;
    bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 767px) {
        width: 10px;
        height: 10px;
        right: -1px;
        bottom: 2px;

        &.hidden--xs {
            display: none;
        }
    }
}

.cart__value {
    font-size: 9px;
    line-height: 11px;
    color: #fff;
    letter-spacing: 0;
    padding-left: 1px;

    @media only screen and (max-width: 767px) {
        font-size: 6px;
        padding-left: 0;
    }
}