.breadcrumbs-wrap {
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
        display: none;
    }
}

.breadcrumbs {
    font-size: 14px;
    line-height: 19px;
    color: $bv-black-color;
    margin: 0 -10px;

    > span {
        display: inline-block;
        padding: 0 10px;
        position: relative;

        &:not(:last-of-type):after {
            content: '/';
            position: absolute;
            right: -6px;
            top: 0;

        }

        &:last-of-type {
            font-weight: 700;
        }
    }

    a {
        color: $bv-black-color;
    }
}