.phones {
    margin-left: 20px;

    @media only screen and (max-width: 767px) {
        margin-left: 11px;
        margin-top: 3px;
    }

    a {
        color: #fff;
        white-space: nowrap;
    }
}