.biography {
    padding: 60px 0;
    margin-bottom: -60px;

    @media only screen and(max-width: 767px) {
        padding: 10px 0;
        margin-bottom: -10px;
    }
}

.biography-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -25px -50px;

    @media only screen and(max-width: 767px) {
        margin: -15px;
    }
}

.biography-item {
    padding: 25px 50px;
    flex: 1;
    min-width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media only screen and(max-width: 1199px) {
        flex: none;
    }

    @media only screen and(max-width: 767px) {
        min-width: auto;
        width: 100%;
        padding: 15px;
    }
}

.biography-text {
    text-align: center;
    margin-top: 29px;

    @media only screen and(max-width: 767px) {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }
}