/*********user icon**********/
.user-icon-wrap {
    width: 24px;
    height: 24px;
    flex: 0 0 auto;

    @media only screen and (max-width: 767px) {
        width: 18px;
        height: 18px;
        display: block;
    }
}

.user-icon {
    width: 100%;
    height: 100%;
}

.user-icon__part {
    fill: $bv-purple-color;
}

/*********cart icon**********/
.cart-icon-wrap {
    @extend .user-icon-wrap;
}

.cart-icon {
    @extend .user-icon;
}

.cart-icon__part {
    @extend .user-icon__part;
}

/*********arrow icon**********/
.arrow-icon-wrap {
    width: 30px;
    height: 30px;
    flex: 0 0 auto;
    z-index: 1;
    position: relative;
    cursor: pointer;

    &.is--next {
        transform: scale(-1);
    }

    &.is--prev {
        margin-right: 8px;
    }

    @media only screen and(max-width: 1470px) {
        width: 20px;
        height: 20px;
    }
}

.arrow__icon {
    @extend .user-icon;
}

.arrow__part {
    @extend .user-icon__part;
}

/*********scroll icon**********/
.scroll-arrow-wrap {
    width: 40px;
    height: 40px;
    flex: 0 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: bouncing 0.4s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate both;

    @media only screen and(max-width: 1199px) {
        display: none;
    }
}

/*********biography icon**********/
.biography-icon-wrap {
    width: 60px;
    height: 60px;
    flex: 0 0 auto;
}

.biography-icon {
    @extend .user-icon;
}

.biography-icon__part {
    @extend .user-icon__part;
}

/*********email icon**********/
.email-icon-wrap {
    width: 30px;
    height: 30px;
    flex: 0 0 auto;

    @media only screen and (max-width: 767px) {
        width: 24px;
        height: 24px;
    }
}

.email-icon {
    @extend .user-icon;
}

.email-icon__part {
    fill: #fff;

    &.is--dark {
        fill: $bv-purple-color;
    }
}


/*********phone icon**********/
.phone-icon-wrap {
    @extend .email-icon-wrap;
}

.phone-icon {
    @extend .user-icon;
}

.phone-icon__part {
    @extend .email-icon__part;
}


/*********right-arrow icon**********/
.right-arrow-wrap {
    width: 18px;
    height: 18px;
    flex: 0 0 auto;

    .arrow-icon {
        transform: translateY(-1px);
    }

    .arrow-icon__part {
        fill: #fff;

        &.is--dark {
            fill: $bv-purple-color;
        }
    }
}

.arrow-icon {
    @extend .user-icon;
}

/*********star icon**********/
.star-icon {
    width: 18px;
    height: 18px;

    @media only screen and (max-width: 767px) {
        width: 14px;
        height: 14px;
    }
}

.star-icon__part {
    fill: rgba(155, 155, 155, 0.25);
}


/*********remove icon**********/
.remove-icon-wrap {
    @extend .star-icon;
    height: 24px;
    cursor: pointer;
    flex: 0 0 auto;

    .remove__icon {
        @extend .user-icon;
    }

    .remove__icon-part {
        @extend .user-icon;
        @extend .user-icon__part;
    }
}

.remove-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.remove-icon__part {
    @extend .user-icon;
    @extend .user-icon__part;
}

/*********counter icon**********/
.counter-icon {
    width: 8px;
    height: 9px;

    @media only screen and (max-width: 767px) {
        width: 5px;
        height: 5px;
    }
}

.counter-icon__part {
    @extend .user-icon;
    fill: $bv-black-color;
}

/*********shopping-cart icon**********/
.shopping-icon {
    width: 169px;
    height: 169px;

    @media only screen and (max-width: 767px) {
        width: 100px;
        height: 100px;
    }
}

.shopping-icon__part {
    @extend .user-icon;
    @extend .user-icon__part;
}

/*********logout-icon**********/
.logout-icon {
    @extend .right-arrow-wrap;
    height: 20px;
}

.logout-icon__part {
    @extend .counter-icon__part;
}