div.wpcf7 .ajax-loader {
    margin: 0;
    position: absolute;
    bottom: 11px;
}

.wpcf7-validation-errors,
.wpcf7-mail-sent-ok {
    max-width: 595px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #e34434;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    padding: 4px 15px;
}

.wpcf7-mail-sent-ok {
    position: absolute;
    z-index: -1;
    text-indent: -9999px;
    visibility: hidden;
    opacity: 0;
}

.form input.wpcf7-not-valid:not(.submit) {
    border: 2px solid #e34434;
}

.wpcf7-mail-sent-ok {
    background-color: #29ad0a;
}

div.wpcf7-response-output {
    margin-left: auto;
    margin-right: auto;
}

div.wpcf7-validation-errors, 
div.wpcf7-acceptance-missing,
div.wpcf7-mail-sent-ok {
    border: 0;
}

div.wpcf7-validation-errors {
    display: none!important;
}

span.wpcf7-not-valid-tip {
    color: #e64a2f;
    font-size: 18px;
    font-weight: 700;
    position: static;
    margin-top: 11px;

    @media only screen and (max-width: 767px) {
        font-size: 11px;
        margin-top: 0;
        text-align: right;
    }
}

.wpcf7-form-control-wrap {
    display: block;
    position: static;
}

.wp-captcha {
	margin-bottom: 30px;
}

@media only screen and (max-width: 700px) {
    span.wpcf7-not-valid-tip {
        left: 38px;
        right: 38px;
    }
}

.woocommerce-MyAccount-navigation-link.cabinet__section.is-active {
    .btn {
        color: #2F2F2F;
        box-shadow: 0px 0px 20px rgba(155, 155, 155, 0.5);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            border: 2px solid #444158;
        }
    }

    @media only screen and (max-width: 1199px) {

        .btn {
           color: #9B9B9B;
           padding: 27px 20px;
           box-shadow: none;

           &:after {
               content: none;
           }
        }
    }

    @media only screen and (max-width: 767px) {
        .btn {
            padding: 10px 15px;
            font-size: 14px;
            line-height: 19px;
        }
    }
}

.woocommerce-edit-account .form__item>span {
    display: none;
}

.woocommerce-account.woocommerce-orders {
    @media only screen and (max-width: 767px) {
        & > .container {
            padding: 0;
        }

        .layout__title {
            padding:  0 15px;
        }

        // .category__dropdown {
        //     margin: 0 15px;
        // }
    }
}

.edit {
    margin-top: 20px;
}

.woocommerce-error {
    color: #FF6262;
    margin-bottom: 25px;
}

.woocommerce-password-strength,
.woocommerce-password-hint {
    font-size: 14px;
    padding: 10px 0;
}

@media only screen and (max-width: 767px) {
    .wp-block-media-text {
        display: block;

        .wp-block-media-text__content {
            padding: 15px 0;
        }
    }
    
    .wp-block-media-text>figure>img {
        max-width: 100%;
        width: auto;
    }
}

@media only screen and (max-width: 549px) {
    .form__item--fullwidth {
        max-width: 480px;
        margin-top: 10px;
    }
}
