.slick-nav {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-indent: -9999px;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 1;
    background: url("../img/icons/slick-arrow.svg")no-repeat center/26px;
    background-color: rgba(161, 160, 171, 0.7);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.slick-nav__prev {
    left: 120px;
}

.slick-nav__next {
    transform: scaleX(-1) translateY(-50%);
    right: 120px;
}

.slick-dots {
    display: flex;
    flex-wrap: wrap;

    li {
        padding: 4px 7px;
        height: 18px;
    }

    button {
        width: 10px;
        height: 10px;
        padding: 0;
        color: transparent;
        text-indent: -9999px;
        border-radius: 50%;
        background-color: rgba(68, 65, 88, 0.2);
        display: block;
    }

    .slick-active {
        button {
            background-color: $bv-purple-color;
            box-shadow: 0px 0px 20px rgba(155, 155, 155, 0.5);
        }
    }
}