.reviews-wrap {

    .slick-list {
        overflow: hidden;
        padding-top: 16px!important;
        padding-bottom: 16px !important;
    }

    &.slick-carousel {
        height: 400px;
        overflow: hidden;
        opacity: 0;
        transition: opacity .4s ease;
    }

    &.slick-initialized {
        opacity: 1;
        height: 100%;
        overflow: visible;
    }
}

.reviews {
    padding: 0 10px;

    @media only screen and (max-width: 767px) {
        padding: 0 5px;
    }
}

.reviews__blank {
    max-width: 460px;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(155, 155, 155, 0.5);

    @media only screen and (max-width: 767px) {
        max-width: 220px;
        padding: 20px 15px;
    }
}

.reviews__blank-top {
    display: flex;
    align-items: center;
}

.reviews__blank-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    flex: 0 0 auto;

    @media only screen and (max-width: 767px) {
        width: 33px;
        height: 33px;
    }

    &.is--avatar {
        border-radius: 50%!important;
    }
}

.reviews__blank-info {
    width: 100%;
    padding-left: 15px;
    padding-right: 40px;
    position: relative;
    color: rgba(155, 155, 155, 0.5);

    @media only screen and (max-width: 767px) {
        font-size: 11px;
        padding-left: 8px;
        line-height: 15px;
    }

    >*:not(:last-child) {
        margin-bottom: 4px;

        @media only screen and (max-width: 767px) {
            margin-bottom: 0;
        }
    }

    strong {
        text-transform: uppercase;
        color: $bv-black-color;
    }
}

.reviews__blank-bottom {
    margin-top: 20px;

    @media only screen and (max-width: 767px) {
        font-size: 11px;
        line-height: 15px;
        margin-top: 10px;
    }
}

.reviews__blank-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: -3px;

    @media only screen and (max-width: 767px) {
        width: 14px;
        height: 14px;
        top: 2px;
    }

    img {
        width: 100%;
    }
}

/*********reviews__blank--secondary******************/
.reviews__blank--secondary {
    padding: 0;

    .reviews__blank-top {
        display: block;
    }

    .reviews__blank-img {
        height: 460px;
        width: 460px;
        border-radius: 0;

        @media only screen and (max-width: 767px) {
            height: 240px;
            width: 220px;
        }
    }

    .is--avatar {
        width: 70px;
        height: 70px;
        margin-bottom: 0;
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);

        @media only screen and (max-width: 767px) {
            width: 33px;
            height: 33px;
            left: 15px;
            top: 20px;
            transform: none;
        }
    }

    .reviews__blank-info {
        margin-left: 0;
        text-align: left;
        padding: 30px 68px 30px 110px;
        position: relative;
        min-height: 112px;

        @media only screen and (max-width: 767px) {
            padding: 20px 30px 20px 56px;
            min-height: auto;
        }
    }

    .reviews__blank-icon {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 30px;
        top: 27px;

        @media only screen and (max-width: 767px) {
            width: 14px;
            height: 14px;
            right: 15px;
            top: 21px;
        }
    }
}