.select {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
}

[data-select-wrap] {
    &.is--open {
        .select-clone__icon {
            transform: translateY(-50%) rotate(-90deg);
        }
    }
}

.select-clone {
    position: relative;
}

.select-clone__title {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 11px 20px;
    border: 2px solid $bv-darkgrey-color;
    position: relative;
    padding: 11px 46px 11px 20px;

    @media only screen and (max-width: 767px) {
        padding: 6px 20px;
        font-size: 14px;
    }
}

.select-clone__icon {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

.select-clone__options {
    display: none;
    border: 2px solid $bv-darkgrey-color;
    border-top: 0;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
}

.select-clone__option {
    padding: 6px 20px;
    cursor: pointer;
}