.form {
    margin-top: 34px;

    @media only screen and (max-width: 767px) {
        margin-top: 0;
    }

    input:not([type=submit]) {
        padding: 16px 30px;
        border: 2px solid $bv-darkgrey-color;

        @media only screen and (max-width: 767px) {
            padding: 8px 10px 9px;
        }
    }

    textarea {
        width: 100%;
        padding: 16px 30px;
        border: 2px solid $bv-darkgrey-color;
    }
}

.form__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -20px;

    @media only screen and (max-width: 767px) {
        margin: -10px -20px;
    }
}

.form__item {
    max-width: 480px;
    flex: 1;
    min-width: 280px;
    display: block;
    padding: 10px 20px;
    position: relative;

    @media only screen and (max-width: 991px) {
        text-align: center;
    }
}

.form__title {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.form__item--fullwidth {
    max-width: 100%;
}

.submit-wrap {
    flex: inherit;
}

.submit-wrap--secondary {
    padding: 20px 0;
    display: block;
    text-align: right;
}

.is--error {
    border: 2px solid #e34434!important;

    & + p {
        color: #e64a2f;
        font-size: 18px;
        font-weight: 700;
        margin-top: 11px;
        text-align: left;

        @media only screen and (max-width: 767px) {
            font-size: 11px;
            margin-top: 0;
            text-align: right;
        }
    }
}