.form-steps {
    max-width: 700px;
    width: 100%;
}

.form__step-title {
    text-transform: uppercase;
    margin-bottom: 40px;
}

.form__step-items {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

.form__step-item {
    padding: 5px;
}

.form__step-link {
    background-color: #fff;
    border: 1px solid rgba(155, 155, 155, 0.25);
    color: $bv-lightgrey-color;
    font-weight: 600;
    line-height: 25px;
    padding: 17px 22px 16px;
    position: relative;

    &:hover,
    &:active,
    &:focus {
        border: 1px solid rgba(155, 155, 155, 0.25);
    }

    &.is--active {
        box-shadow: 0px 0px 20px rgba(155, 155, 155, 0.5);
        color: $bv-black-color;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border: 2px solid $bv-black-color;
        }
    }
}

.form__step-contains {
    padding: 20px 30px;
}

[data-step] {
    display: none;

    &.is--active--step {
        display: block;
    }
}