.form--secondary {
    margin: 0;

    .form__items {
        margin: 0 -10px;
        flex-wrap: nowrap;
        align-items: center;

        input:not([type="submit"]) {
            padding: 11px 20px;
            font-size: 18px;

            @media only screen and (max-width: 767px) {
                padding: 8px 10px 9px;
                font-size: 14px;
            }
        }
    }

    .form__item {
        min-width: auto;
        max-width: 370px;
        flex: 2;
        padding: 10px;
    }

    .form__item-label {
        max-width: 100%;
        flex: 1;
        min-width: 140px;
    }
}

.form__item-link {
    text-align: right;
}

.form__item-label {
    font-size: 14px;
    line-height: 19px;
    color: $bv-black-color;
    text-align: right;
    max-width: 100%;
    flex: 1;
    min-width: 140px;
}