.wrapper .checkbox {
    padding: 0 10px;
}

.checkbox {
    color: $bv-black-color;
    font-size: 14px;
    line-height: 19px;

    input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: -1;
        visibility: hidden;

        &:checked + .checkbox__part:after {
            border-color: $bv-purple-color;
            background-color: $bv-purple-color;
        }
    }

    &__part {
        display: block;
        padding-left: 24px;
        position: relative;
        cursor: pointer;
        text-align: left;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 4px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid $bv-darkgrey-color;
        }
    }
}